.contact-container {
    max-width: 700px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.contact-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.contact-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.contact-container input, 
.contact-container textarea {
    width: calc(100% - 20px); /* Fix pour éviter l'overflow */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.contact-container textarea {
    resize: vertical; /* Permet de redimensionner verticalement uniquement */
}

.contact-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-container button:hover {
    background-color: #0056b3;
}

.contact-container p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.contact-container a {
    color: #007bff;
    text-decoration: none;
}

.contact-container a:hover {
    text-decoration: underline;
}
